<footer class="footer" *ngIf="!hidden">
    <div class="footer1" style="display: inline;">
            <p style="display: inline;">©copyright 2023</p>
            <a href="mailto:tesislaboratorio@gmail.com" style="text-decoration: none; display: inline; margin-left: 5px;">
                <img src="assets/imagenes/tuurn3.png" alt="logo" width="44px" height="38px">
                <span style="margin-left: 5px;">Soporte Técnico</span>
            </a>           
            <a href="/manual-usuario" style="display: inline;margin-left: 100px;">
                <img src="assets/imagenes/libro-de-instrucciones.png" alt="logo" width="44px" height="38px">
            </a>    
    </div>
</footer>

