.mat-mdc-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 10px;
}
.mat-mdc-dialog-title {
  margin-left: 10px;
}

.mat-mdc-dialog-actions {
  margin-left: 25px;
  margin-bottom: 40px;
}
