body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.manual-usuario {
    display: flex;
}

#barra-lateral {
    background-color: #f0e4e4;
    padding: 15px;
    color: #383636;
    width: 300px;
    position: fixed;
    left: 0;
    top: 60px;
    overflow-y: auto;
    bottom: 0;
}

#barra-lateral h2 {
    margin-bottom: 20px;
}

#barra-lateral ul {
    list-style-type: none;
    padding: 0;
}

#barra-lateral li {
    margin-bottom: 10px; 
}

#barra-lateral li:last-child {
    margin-bottom: 50px; 
}

#barra-lateral a {
    color: #333;
    text-decoration: none;
}

#barra-lateral a:hover {
    color: #007bff;
}

#content {
    margin-left: 320px;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 50px;
    height: 100vh;
    overflow-y: auto;
}

#content h3 {
    margin-top: 30px;
}

.step {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    
    .manual-usuario {
        flex-direction: column; 
    }

    #barra-lateral {
        width: 100%; 
        position: static;
    }

    #content {
        margin-left: 0; 
    }
}
.hand-pointer {
    cursor: pointer;
}